@import url("/home/frost/.cache/wal/colors-waybar.css");

* {  
  font-family:
    /*"Cantarell",*/
    "Noto Sans CJK JP",
    "JetBrainsMono Nerd Font Mono",
    "Nerd Font",
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  }

#waybar {
background: transparent;
color: @foreground;
border-radius: 10px 10px 10px 10px;
background-color: alpha(@background, 0.3);
}

tooltip {
    background-color: @background;
    border: 1px solid @color14;
    border-radius: 10px;
}

tooltip label {
    color: @foreground;
}

button {
border: none;
border-radius: 0;
padding: 0 5px;
transition: all 0.2s ease;
}

#workspaces {
background-color: @background;
border-radius: 5px;
margin: 5px;
padding: 2px;
}


#workspaces button {
background-color: transparent;
color: @color8;
border-radius: 6px;
margin: 0 2px;
padding: 0 8px;
transition: all 0.2s ease;
}

#workspaces button:hover {
color: @color6;
background-color: @background;
}

#workspaces button.active {
color: @color14;
background-color: @background;
font-weight: bold;
}

#workspaces button.urgent {
background-color: @color6;
color: @color1;
}

/*#custom-separator {
margin-right: 10px;
margin-left: 10px;
}*/

#custom-opensuse {
    background-image: url("file:///home/frost/logos/button-monochrome.svg");
    background-color: @color14;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 29px;
    padding: 0px 3px 0px 3px;
    margin: 5px;
    border-radius: 10px;
    min-width: 24px;
    min-height: 24px;
}

#window {
background-color: @background;
color: @color14;
padding: 0px 12px;
border-radius: 5px;
margin: 5px;
}

#network.icon {
background-color: @color14;
color: @background;
padding: 0 10px;
border-radius: 5px 0 0 5px;
margin: 5px 0 5px 0;
font-size: 20px;
}

#network.text {
background-color: @background;
color: @color14;
padding: 0 10px;
border-radius: 0 5px 5px 0;
margin: 5px 5px 5px 0;
}

#bluetooth.icon {
background-color: @color14;
color: @background;
padding: 0 12px;
border-radius: 5px;
margin: 5px;
}

#cpu.icon {
background-color: @color14;
color: @background;
padding: 0 10px;
border-radius: 5px 0 0 5px;
margin: 5px;
font-size: 20px;
}

#cpu.text {
background-color: @background;
color: @color14;
padding: 0 12px;
border-radius: 0 5px 5px 0;
margin: 5px 5px 5px -5px;
}

#temperature.icon {
  background-color:@color14;
  color: @background;
  padding: 0 10px;
  border-radius: 5px 0 0 5px;
  margin: 5px 0 5px 0px;
  font-size: 20px;
}

#temperature.text {
  background-color:@background;
  color: @color14;
  padding: 0 12px;
  border-radius: 0 5px 5px 0;
  margin: 5px 5px 5px 0;
}

#memory.icon {
background-color: @color14;
color: @background;
padding: 0 10px;
border-radius: 5px 0 0 5px;
margin: 5px 0 5px 0px;
font-size: 20px;
}

#memory {
background-color: @background;
color: @color14;
padding: 0 12px;
border-radius: 0 5px 5px 0;
margin: 5px 5px 5px 0;
}

#battery.icon {
background-color: @color14;
color: @background;
padding: 0 10px;
border-radius: 5px 0 0 5px;
margin: 5px 0 5px 5px;
}

#battery.text {
background-color: @background;
color: @color14;
padding: 0 12px;
border-radius: 0 5px 5px 0;
margin: 5px 5px 5px 0;
}

#battery.critical:not(.charging) {
animation: blink 0.7s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite alternate;
}

#pulseaudio.icon {
background-color: @color14;
color: @background;
padding: 0px 10px;
border-radius: 5px 0 0 5px;
margin: 5px 0px 5px 0px;
font-size: 20px;
}

#pulseaudio.text {
background-color: @background;
color: @color14;
padding: 0 12px;
border-radius: 0 5px 5px 0;
margin: 5px 5px 5px 0;
}

#clock.icon {
background-color: @color14;
color: @background;
padding: 0px 10px;
border-radius: 5px 0 0 5px;
margin: 5px 0px 5px 0px;
font-size: 20px;
}

#clock.text {
background-color: @background;
color: @color14;
padding: 0 12px;
border-radius: 0 5px 5px 0;
margin: 5px 5px 5px 0;
}

#tray {
background-color: @background;
padding: 0 10px;
border-radius: 5px;
margin: 5px;
}

#tray > .passive {
-gtk-icon-effect: dim;
}

#tray > .needs-attention {
-gtk-icon-effect: highlight;
background-color: @color1;
}

@keyframes blink {
    to {
        background-color: @color1;
        color: @background;
    }
}

.modules-left > widget\:first-child > #workspaces {
margin-left: 0;
}

.modules-right > widget\:last-child > #workspaces {
margin-right: 0;
}
